@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bonus {
  &:before {
    content: $icon-bonus; 
  }
}
.icon-checked {
  &:before {
    content: $icon-checked; 
  }
}
.icon-error {
  &:before {
    content: $icon-error; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-page-first {
  &:before {
    content: $icon-page-first; 
  }
}
.icon-page-last {
  &:before {
    content: $icon-page-last; 
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down; 
  }
}
.icon-page-next {
  &:before {
    content: $icon-page-next; 
  }
}
.icon-page-prev {
  &:before {
    content: $icon-page-prev; 
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh; 
  }
}
.icon-reload {
  &:before {
    content: $icon-reload; 
  }
}
.icon-success {
  &:before {
    content: $icon-success; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-warning {
  &:before {
    content: $icon-warning; 
  }
}

