$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "./icomoon" !default;

$icon-bonus: "\e900";
$icon-checked: "\e901";
$icon-error: "\e902";
$icon-home: "\e903";
$icon-page-first: "\e904";
$icon-page-last: "\e905";
$icon-angle-down: "\e906";
$icon-page-next: "\e907";
$icon-page-prev: "\e908";
$icon-refresh: "\e909";
$icon-reload: "\e90a";
$icon-success: "\e90b";
$icon-user: "\e90c";
$icon-warning: "\e90d";

