$bonuses-bg: #ffffff;
$bonuses-item-bg: #f0f0f0;
$bonuses-no-apply-icon-bg: #65aa82;
$bonuses-no-apply-icon: #ffffff;
$bonuses-no-apply-txt: #65aa82;
$bonuses-manual-apply-btn-bg: #c12d2e;
$bonuses-manual-apply-btn-txt: #ffffff;
$bonuses-manual-apply-btn-border: 1px solid #c12d2e;
$bonuses-contact-txt: #c12d2e;
$bonuses-detail-btn-box-bg: transparent;
$bonuses-detail-btn-box-border: 1px solid #bebebe;
$bonuses-detail-btn-box-txt: #4d4d4d;
$bonuses-detail-btn-box-icon: #4d4d4d;
$bonuses-detail-title: #c12d2e;
$bonuses-detail-activity-time: #e5780a;