$footer-bg: #f0f0f0;

// company related
$footer-company-title: #4d4d4d;
$footer-company-description: #4d4d4d;

// more link
$footer-more-link-title: #4d4d4d;
$footer-more-link-item: #4d4d4d;

// language
$footer-lang-title: #4d4d4d;
$footer-lang-chk: #ffffff;
$footer-lang-chk-bg: #bababa;
$footer-lang-chk-txt: #bababa;
$footer-lang-chk-active-bg: #c12d2e;
$footer-lang-chk-active-txt: #c12d2e;

// footer footer
$footer-footer-bg: #c12d2e;
$footer-footer-txt: #ffffff;

/* -----------------mobile---------------- */
$mobile-footer-bg: #f0f0f0;