$global-msg-mask-bg: rgba(5,5,5,0.7);

// error message
$global-error-msg-box-bg: #DE735F;
$global-error-msg-icon: #ffffff;
$global-error-msg-txt: #ffffff;

// info message
$global-info-msg-box-bg: #65AA82;
$global-info-msg-icon: #ffffff;
$global-info-msg-txt: #ffffff;