$news-bg: #f0f0f0;

$news-paper-bg: #c12d2e;
$news-paper-svg: #ffffff;
$news-company-title: #4d4d4d;
$news-all-btn-bg: #bababa;
$news-all-btn-txt: #ffffff;
$news-hr: 1px solid #bababa;
$news-info-title: #c12d2e;
$news-info-content: #4d4d4d;