// register step
$register-step-bg: #bababa;
$register-step1-active-bg: #ea8b3a;
$register-step2-active-bg: #6CB5CB;
$register-step3-active-bg: #C12D2E;
$register-step-txt: #ffffff;
$register-step-hr: 1px solid #ffffff;

// register info
$register-info-title-txt: black;
$register-info-input-txt: black;
$register-info-input-placeholder: #8b8b8b;
$register-info-input-border: 1px solid #acacac;
$register-info-input-wrong-border: 1px solid #c12d2e;
$register-info-wrong-txt: #c12d2e;

// register agree terms
$register-agree-icon-bg: #d1d1d1;
$register-agree-icon: #3e915d;
$register-terms-txt: black;
$register-terms-link-txt: #c13838;

// register submit
$register-submit-btn-bg: #c12d2e;
$register-submit-btn-txt: #ffffff;
$register-user-email-txt: #c12d2e;
$register-modify-email-btn-bg: #BABABA;
$register-modify-email-btn-txt: #ffffff;
$register-resend-verify-code-btn-bg: #ffffff;
$register-resend-verify-code-btn-txt: #c12d2e;
$register-resend-verify-code-btn-border: 1px solid #c12d2e;