// forget password step
$forget-pwd-title-txt: #000000;
$forget-pwd-input-title-txt: #727272;
$forget-pwd-input-bg: #f0f0f0;
$forget-pwd-input-txt: #000000;
$forget-pwd-submit-btn-bg: #C12D2E;
$forget-pwd-submit-btn-txt: #ffffff;