$header-bg: #c12d2e;

// account input
$header-account-input-bg: #8a1d1c;
$header-account-input-placeholder: #c12d2e;
$header-account-input-txt: #ffffff;

// password input
$header-password-input-bg: #8a1d1c;
$header-password-input-placeholder: #c12d2e;
$header-password-input-txt: #ffffff;

// login button
$header-login-button-bg: transparent;
$header-login-button-txt: #ffffff;

// register button
$header-register-button-bg: transparent;
$header-register-button-txt: #ffffff;
$header-register-button-border: 1px solid #fff;

// forget password button
$header-forget-password-button-bg: #c12d2e;
$header-forget-password-button-txt: #d1d1d1;
$header-forget-password-button-border: 0;

// nav list
$header-nav-icon: #ffffff;
$header-nav-txt: #ffffff;
$header-nav-triangle: #ffffff;

// login info
$header-login-info-icon: #ffffff;
$header-login-info-account-txt: #ffffff;

// member central button
$header-member-central-button-bg: #ffffff;
$header-member-central-button-txt: #c12d2e;
$header-member-central-button-border: 0;

// logout button
$header-logout-button-bg: transparent;
$header-logout-button-txt: #ffffff;
$header-logout-button-border: 0;


/* -----------------mobile---------------- */
$header-register-txt: #fad291;
$header-login-txt: #ffffff;
$header-hr: 1px solid #ffffff;
$header-slide-content-txt: #ffffff;

// left slide
$header-slide-user-icon: #ffffff;
$header-slide-mask: rgba(0, 0, 0, .5);
$header-slide-bg: #c12d2e;
$header-slide-content-group-border: 1px solid #ffffff;
$header-slide-content-icon: #ffffff;
$header-slide-content-acitve-txt: #fad291;
$header-slide-content-chk-bg: #ffffff;
$header-slide-content-chk: #c12d2e;

// right slide
$header-slide-user-info-bg: #333333;
$header-slide-member-nav-img-bg: #ac0e0f;
$header-slide-logout-bg: #333333;