
/* -----------------mobile---------------- */
$mobile-login-title-txt: #000000;
$mobile-login-input-txt: #000000;
$mobile-login-info-group-border: 1px solid #acacac;
$mobile-login-forget-pwd-btn-bg: #818181;
$mobile-login-forget-pwd-btn-txt: #ffffff;
$mobile-login-submit-btn-bg: #c12d2e;
$mobile-login-submit-btn-txt: #ffffff;