.bonuses_pattern {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;

  .bonuses_container {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;

    .bonuses_box {
      width: 100%;
      height: auto;
      overflow: hidden;
      border-radius: 5px;
      margin-bottom: 15px;
      padding: 5px;
      display: flex;
      flex-direction: column;

      .summary_box {
        width: 100%;
        height: 220px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .bonuses_img {
          width: 80%;
          height: 100%;
          border-radius: 5px;
          overflow: hidden;

          img {
            width: 100%;;
            height: auto;
          }
        }

        .bonuses_status {
          width: 20%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .no_apply_box {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .icon_box {
              width: 60px;
              height: 60px;
              border-radius: 60px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              margin-bottom: 10px;

              .no_apply_icon {
                font-size: 3.5rem;
              }
            }

            .no_apply_txt {
              font-size: 1.5rem;
              color: #65aa82;
            }
          }
          
          .detail_btn_box {
            width: 80%;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 15px;
            border-radius: 5px;
            cursor: pointer;

            .detail_btn_txt {
              font-size: 1.3rem;
            }

            .detail_btn_icon {
              position: absolute;
              top: 20%;
              right: 8%;
              font-size: 2rem;
              transition: all .3s ease-out;

              &.turn {
                transform: rotate(180deg);
              }
            }
          }

          .manual_apply_btn {
            width: 80%;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
          }

          .contact_status {
            font-size: 1.5rem;
          }
        }
      }

      .detail_box {
        width: 100%;
        height: auto;
        max-height: 0;
        transition: all .3s ease-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 7%;

        &.show_detail {
          max-height: 1200px;
          overflow-y: auto;
        }

        .detail_title {
          margin-top: 20px;
          margin-bottom: 15px;
          font-size: 2.5rem;
        }

        .detail_activity_time {
          margin-bottom: 15px;
          font-size: 1.8rem;
        }
      }
    }
  }
}