.disclaimer_page {
  width: 100%;
  height: auto;
  min-height: 65%;
  display: flex;
  justify-content: center;
  padding: 0 50px;

  .disclaimer_page_container {
    width: 100%;
    max-width: 1280px;
    height: auto;
    padding: 3% 0;

    .disclaimer_title {
      font-size: 3.5rem;
      margin-bottom: 20px;
      color: #c12d2e;
    }

    .disclaimer_desc {
      font-size: 1.5rem;
      letter-spacing: .15rem;
    }

    .disclaimer_content {
      font-size: 1.4rem;
      letter-spacing: .05rem;
    }
  }
}